.command-dialog-overlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.2);
}

.command-dialog-content {
  position: fixed;
  top: var(--space-9);
  left: 50%;
  z-index: 50;
  transform: translateX(-50%);
  width: 640px;
  max-width: 90vw;
  overflow: hidden;
  border-radius: var(--radius-2);
  border: 1px solid var(--gray-6);
  background-color: var(--gray-1);
  box-shadow: var(--shadow-6);
}
